*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;

}
i{
	font-style: normal;
}
.slider-pic{
	width: 400px;
	height: 220px;
}
.slider-item {
	position: absolute;
	left: 0;
	top: 0;
}
.active {
	background-color: #69aaec;
}
span i {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #c3c3c3;
}
.slider-page {
	position: relative;
	left: 150px;
	top: 190px;
}
